@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #328eaf;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add {
    position:fixed;
    top: 1rem;
    right: 1rem;
    background-color: #274747;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:3px;
    padding:0.5rem 1rem;
    width: 10%;
    height: 50px;
    font-size: 18px;
    box-shadow: 4px 4px rgb(158, 120, 120);
}

.add:hover {
    background-color:rgb(8, 8, 3);
    transition: 0.8s;
    font-size:20px;
    box-shadow: 4px 4px rgb(150, 160, 15);
}

.note {
    background-color: white;
    box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height:400px;
    width:400px;
    margin-top: 9%;
}

.note .tools {
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools .button {
    background-color: transparent;
    border: none;
    /* color: white; */
    /* font-size:1rem; */
    /* margin-left: 0.5rem; */
}

.note textarea {
    outline: none;
    font-family:inherit;
    font-size:1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    padding: 20px;
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}

.imgg {
    margin-top:-2.7%;
}